# Конфигурация управления игрой
# Формат: КОМАНДА=КЛАВИША
# Доступные клавиши: Escape, Space, Shift, Left, Right, Up, Down, 1-4, A-Z

MOVE_LEFT=Left
MOVE_RIGHT=Right
MOVE_UP=Up
MOVE_DOWN=Down
ATTACK_CLOSE=Space
SWITCH_WEAPON=Shift
PAUSE_GAME=Escape
NEW_GAME=1
LOAD_GAME=2
QUIT_GAME=3
CONTINUE_LEVEL=4
